.quiz {
	display: flex;
	justify-content: center;
	padding-top: 100px;
	flex-grow: 1;
	width: 100%;
	background: linear-gradient(90deg, #5041b2, #7969e6 100%);
}

.quiz__title {
	color: #fff;
	margin-left: 100px;
}
