.input__wrapper {
	margin-bottom: 15px;
}

.input__label {
	margin-bottom: 3px;
	padding: 0px;
	display: block;
}

.input__input {
	display: block;
	box-sizing: border-box;
	border: 1px solid #bebebe;
	padding: 7px;
	margin: 0 0 5px;
	width: 100%;
	outline: none;
	transition: all 300ms ease-in-out;
}

.input__span {
	color: #f01f30;
	font-size: 12px;
	font-weight: bold;
}

.input__wrapper_invalid {
	color: #f01f30;
}
