.drawer {
  position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 80%;
	max-width: 300px;
	padding: 20px 10px;
	box-sizing: border-box;
	background: #fff;
	z-index: 90;
	transform: translateX(0px);
	transition: transform .22s ease-in;
}

.drawer__close {
	transform: translateX(-300px);
}

.drawer__items {
	list-style: none;
	margin: 0;
	padding: 0;
}

.drawer__item {
	margin-bottom: 15px;
}

.drawer__link {
  color: #363f54;
	font-size: 30px;
	text-decoration: none;
	background-color: #fff;
	padding: 0 20px 10px 20px;
	position: relative;
	transition: opacity .3s ease-in;
}

.drawer__link:hover, .active {
	opacity: .7;
}
